<h1>{{user.first_name}} {{user.last_name}} {{user.id}}</h1>
<ul class="ui list">
    <li><strong>Email:</strong>{{user.email}}</li>
    <li><strong>Phone:</strong>{{user.phone}}</li>
</ul>
<a class="ui button" href="/">Back</a>